* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
html {
    font-size: 16px;
}
body {
    font-size: 1rem;
}
h3, h4 {
    font-size: 2rem;
}
nav{
    display: flex;
    background-color: #f8f9fa;
    padding: 0.52rem;
    font-size: 14px;
}
nav a{
    color: black;
    text-decoration: none;
}
nav p{
    margin-left: 1rem;
}
.cla-1{
    font-size: 16px;
}
.cla-2 a{
    color: gray;
}
.main {
    display: flex;
    padding-top: 5rem;
}
.gauche {
    padding-right:5rem;
}
.gauche p {
    padding: 0.50rem 0;
}
.mb-4{
    padding: 0.50rem 0 ;
    line-height: 1.5;
}
.droit h3
{
    padding-bottom: 1rem;
}
.list {
    border: gray 1px solid;
    width: 500px;
    padding: 0.40rem;
    display: flex;
    justify-content: space-between;
}
.list1{
    border-left: gray 1px solid;
    border-right: gray 1px solid;
    width: 500px;
    padding: 0.40rem;
    display: flex;
    justify-content: space-between;
}
.list2{
    display: flex;
    justify-content: end;
    color: gray;
}
.droit span{
    background-color: green;
    color: white;
    width: 40px;
    text-align: center;
    border-radius: 50px;
}
.mb-5{
    display: flex;
    padding: 1rem 0;
}
.mb-5 p{
    padding-right: 1rem;
}
.boton{
    display: flex;
    justify-content: end;
}